<h1>Questa è home pages</h1>
<p>Find me in app/views/pages/about.html.erb</p>
<a href="http://geosveva.it">Clicca qui</a><br>
<%= link_to "Clicca" , "http://geosveva.it"%><br>
<%= link_to "Clicca about" , about_path%>