@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;

@import 'materialize';
@import "materialize/extras/nouislider";
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

h1{
  font-size: 3em;
}
  main {
    flex: 1 0 auto;
  }
  .btn-device{
  	width: 100%;
  }
  .show-img{
    padding-right: 5%;
  }
  .show-titolo{
    margin-top: 0px;
    font-size: 8em;
  }

.show-prezzo{
font-size: 2em;
  }
.btn-form{
  width: 100%;
}
.card-image{
  height: 150px
}
.pagination a li.active {
  color: #fff;
}